body {
  margin-top: 7%;
}

.result {
  height: 60px;
  background-color: #393e46;
  width: 100%;
}

.result p {
  font-size: 40px;
  margin: 5px;
}

.calculator-body {
  max-width: 900px;
  margin: auto;
  color: white;
}

.button {
  display: block;
  background-color: white;
}

button {
  width: 25%;
  height: 70px;
  font-size: 40px;
}
